<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="nodejs">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" />
    <security>
      <ipSecurity allowUnlisted="false">
        <clear />
        <add ipAddress="192.168.40.1" allowed="true" />
      </ipSecurity>
    </security>
  </system.webServer>
</configuration>
