<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Hiển thị chi tiết lỗi -->
    <httpErrors errorMode="Detailed" />
    
    <!-- Thiết lập tệp mặc định -->
    <defaultDocument>
      <files>
        <add value="index.js" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  <system.web>
    <!-- Tắt xử lý lỗi tùy chỉnh -->
    <customErrors mode="Off" />
  </system.web>
</configuration>
